import React from 'react';
import style from './style.module.css';

interface Props {
  children: React.ReactNode;
}

interface State {}

export default class ${TM:COMPONENT_NAME} extends React.PureComponent<Props, State> {
  state: State = {};

  render() {
    const {children} = this.props;

    return <div className={style.${TM:COMPONENT_NAME}}>{children}</div>;
  }
}
